<mat-progress-bar *ngIf="loder" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <mat-card class="loginCard">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="Loginform" (submit)="loginData($event)">
          <b style="color:red">{{ email }}</b>
        <mat-form-field class="loginInput">
         
          <input matInput id="email" placeholder="Email" >
          <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error> -->
          
        </mat-form-field> 
        <b style="color:red">{{ password }}</b>
        <mat-form-field class="loginInput">
          <input matInput id="password" placeholder="Password">
         
          <mat-error *ngIf="email">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Sign In as a</mat-label>
            <select id="type" matNativeControl required>
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
          </mat-form-field>
        <button class="btn btn-primary" style="margin-left: 50px">Sign In</button>
      </form>
    </mat-card-content>
    <!-- <a href="">Create Admin Account</a> -->
  </mat-card>
</div>
<!-- <div class="box-rot">
<div class="rotating">
  <div class="r r1"></div>
  <div class="r r2"></div>
  <div class="r r3"></div>
  <div class="r r4"></div>
</div>
<div class="data">
  <h1>lalit Sharlawar</h1>
  Optional. Defines the number of seconds (s) or milliseconds (ms) to wait before the animation will start. Default value is 0. Negative values are allowed. If you use negative values, the animation will start as if it had already been playing for N seconds/milliseconds.
</div>

<div class="r3data">
    <h1>Mobile development</h1>
    Optional. Defines the number of seconds (s) or milliseconds (ms) to wait before the animation will start. Default value is 0. Negative values are allowed. If you use negative values, the animation will start as if it had already been playing for N seconds/milliseconds.
  </div>
</div>
<div class="cardBox">
  <div class="cardBox1">
    <div class="cards">
        <h3>Box1</h3>
        <p>The overflow-y property specifies whether to clip the content, add a scroll bar, or display overflow content of a block-level element, when it overflows at the top and bottom edges.</p>
        <button class="btn">Learn more</button>
    </div>
    <div class="cards">
        <h3>Box2</h3>
        <p>The overflow-y property specifies whether to clip the content, add a scroll bar, or display overflow content of a block-level element, when it overflows at the top and bottom edges.</p>
        <button class="btn">Learn more</button>
    </div>
    <div class="cards">
        <h3>Box3</h3>
        <p>The overflow-y property specifies whether to clip the content, add a scroll bar, or display overflow content of a block-level element, when it overflows at the top and bottom edges.</p>
        <button class="btn">Learn more</button>
    </div>
  </div>
</div>
 -->
