<button type="button" class="btn btn-primary" (click)="showAddUser()" style="float: right;">Add User</button>

<h1>Users Details</h1>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <table style="width: 1000px" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Firstname </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Lastname </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef> Mobile </th>
      <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let user"> 
          <button *ngIf="user.status == 1" class="btn btn-success" (click)="statusChange(user.user_id,'0')">Click to Diactivate</button>
          <button *ngIf="user.status == 0" class="btn btn-danger" (click)="statusChange(user.user_id,'1')">Click to Activate</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> View / Delete </th>
        <td mat-cell *matCellDef="let user"> 
            <i class="fa fa-eye" (click)="openDialog(user.user_id)"></i> &nbsp;&nbsp;
            <i class="fa fa-trash" (click)="deleteUser(user.user_id)"></i>  
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>